.navbar {
  position: relative;
  top: 0;
  left: 0;
  padding: 20px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testing {
  background-color: #c94a3e;
}

.logo {
  height: 70px;
  margin: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.link {
  color: #b7b6b6;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

.link:hover {
  color: #4e4e4e !important;
  cursor: pointer;
}
