.page {
  display: flex;
  flex-direction: column;
}

/* wrapper div */
.applications {
  background-color: #f5f9fb;
  padding: 40px 40px;
  flex: 1;
  height: calc(100vh - 200px);
  display: flex;
}

.congratulations {
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.unlock {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 40%;
}

.unlock input {
  text-align: center;
  height: 5vh;
  font-size: 20px;
}

.unlock-button {
  text-align: center;
  font-size: 20px;
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 12px 15px;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  color: #383838;
  opacity: 0.8;
  word-wrap: break-word;
}

.unlock-button:hover {
  cursor: pointer;
  opacity: 1;
}

/* header bar */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-application {
}

.header-stats {
  font-family: "Karla", sans-serif;
  font-size: 17px;
  color: #248487;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.app-section {
  display: flex;
}

.all-applications-view {
  flex-direction: column;
}

/* app reading area */
.app-view {
  background-color: white;
  overflow-y: scroll;
  box-shadow: 0 0 8px #d8d5d5;
  border-radius: 20px;
  padding: 15px 35px;
  flex: 1;
  margin-right: 25px;
  position: relative;
}

/* app responses */
.app-field {
  font-weight: 700;
}
.app-response {
  text-indent: 50px;
}
/* user input area */
.app-options {
  position: relative;
  background-color: white;
  box-shadow: 0 0 8px #d8d5d5;
  border-radius: 20px;
  padding: 25px;
  /* padding-top: 45px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-options textarea {
  display: table-cell;
  height: 40vh;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 82%;
  border-style: solid;
  border-radius: 10px;
}
.app-options #flag-checkbox {
  display: table-cell;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 82%;
}
/* toast */
.toast {
  background-color: #00aaba;
  width: 10vw;
  height: 5vw;
  border-style: solid;
  border-radius: 15px;
}
.toast-text {
  vertical-align: middle;
}
.done-toast {
  background-color: #00aaba;
  width: 12vw;
  height: 7vw;
  border-style: solid;
  border-color: yellow;
  border-width: 0.1vw;
  border-radius: 20px;
}

.comments-textbox {
  border-color: #888888;
  height: 15vh !important;
  resize: none;
  padding: 10px;
  margin-top: 5px;
  letter-spacing: 0.8px;
}

h4 {
  margin-top: 14px;
  margin-bottom: 5px;
}

.flag-checkbox {
  border-color: #cccccc;
}

.vote-buttons {
  display: flex;
  flex-direction: column;
}

.vote-button {
  width: 100%;
  text-align: center;
  font-size: 15px;
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 12px 15px;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  color: #383838;
  opacity: 0.8;
  word-wrap: break-word;
}

.vote-button:hover {
  cursor: pointer;
  opacity: 1;
}

#refresh-button {
  width: 165px;
  margin-left: 20px;
}

.refresh-error {
  position: absolute;
  bottom: 10px;
  color: red;
}

.progress-bar-empty {
  height: 15px;
  border-radius: 8px;
  box-shadow: 0 0 8px #d8d5d5;
}

.progress-bar-full {
  height: 15px;
  background-color: #248487;
  border-radius: 8px;
}

.Toastify__toast-body {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
}

.Toastify__toast--default {
  background-color: #00aaba !important;
  border-radius: 10px !important;
}

.Toastify__toast--error {
  border-radius: 10px !important;
}

.Toastify__close-button--default {
  color: white !important;
  opacity: 0.7 !important;
}
